<h1>Login</h1>
<button {{action 'loginWithGoogle'}}>Login with google</button>
<button {{action 'loginWithFacebook'}}>Login with facebook</button>
<button {{action 'loginWithSalesforce'}}>Login with salesforce</button>
{{outlet}}
